<div class="nav">
    <a class="back" href="#"></a>
    <h1>房源详情</h1>
    <a class="del" href="#">删除 |</a>
    <a class="next" href="#">修改</a>
</div>
<div class="container greybg">
    <form>
        <!--<dl class="form-dl">-->
            <!--<dt>标题</dt>-->
            <!--<dd>-->
                <!--&lt;!&ndash;<textarea id="title" placeholder="请填写标题(30字以内)" ></textarea>&ndash;&gt;-->
                <!--<label for="title">小区名称</label>-->
                <!--<div class="input-cotent" id="title"><%=realties.title%></div>-->
            <!--</dd>-->
        <!--</dl>-->
        <ul class="form-list">
            <li>
                <label for="title">标题</label>
                <div class="input-cotent" id="title"><%=realties.title%></div>
            </li>
        </ul>
        <ul class="form-list">
            <li>
                <label for="neighbourhood">小区名称</label>
                <div class="input-cotent" id="neighbourhood">
                    <!--???=realties.quarter_title-->
                    <%if(realties.quarter_title!=null){%>
                    <%=realties.quarter_title%></div>
                    <%}%>
            </li>
            <li>
                <label for="address">详细地址</label>
                <div class="input-cotent" id="address"><%=realties.address%></div>
            </li>
            <li>
                <label for="rent">租金</label>
                <div class="input-cotent" id="rent"><%=realties.price%>&nbsp;元/月</div>
            </li>
            <li>
                <label for="square">面积</label>
                <div class="input-cotent" id="square"><%=realties.area%>&nbsp;m<sup>2</sup></div>
            </li>
            <li>
                <label for="layer">楼层</label>
                <div class="input-cotent" id="layer" ><%=realties.floor%>/<%=realties.total_height%>&nbsp;F</div>
            </li>
        </ul>

        <ul class="form-list">
            <li class="form-select" id="area-select">
                <label>区域</label>
                <div class="input-cotent" id="area" >
                    <!--???=realties.district_id-->
                    <!--<%=realties.district_id%>-->
                    <%=area%>
                </div>
            </li>
            <li class="form-select" id="housetype-select">
                <label>户型</label>
                <div class="input-cotent" id="housetype" ><%=realties.room%>室<%=realties.hall%>厅<%=realties.wash%>卫</div>
            </li>
            <li class="form-select" id="housing-select">
                <label>装修</label>
                <div class="input-cotent" id="housing" >
                    <!--???=realties.decoration_type-->
                <%=realties.decoration_type%>
                </div>
            </li>
            <li class="form-select" id="faceto-select">
                <label>朝向</label>
                <div class="input-cotent" id="faceto" >
                    <!--???=realties.direction-->
                <%=realties.direction%>
                </div>
            </li>
            <li class="form-select" id="housingtime-select">
                <label>装修年限</label>
                <div class="input-cotent"  id="housingtime" >
                    <!--???=realties.decoration_years-->
                <%=realties.decoration_years%>
                </div>


            </li>
        </ul>
        <ul class="form-list">
            <li class="form-select" id="rentdeadline-select">
                <label>租赁到期</label>
                <div class="input-cotent"  id="rentdeadline" >
                    <!--???=realties.end_at-->
                <%=realties.end_at%>
                </div>
            </li>
        </ul>
        <% var device=realties.house_device.house_device  %>
        <dl class="form-dl">
            <dt>家具</dt>
            <dd>
                <ul class="icon-radiolist">
                    <li>
                        <label class="<%=device.chair ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-chair"></i>
                            <span>椅子</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.teapoy ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-teapoy"></i>
                            <span>茶几</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.sofa ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-sofa"></i>
                            <span>沙发</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.bed ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-bed"></i>
                            <span>床</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.chest ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-wardboard"></i>
                            <span>衣柜</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.table ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-table"></i>
                            <span>餐桌</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.tv_stand ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-tvbench"></i>
                            <span>电视柜</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.bookcase ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-bookcase"></i>
                            <span>书柜</span>
                        </label>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="form-dl">
            <dt>家电</dt>
            <dd>
                <ul class="icon-radiolist">
                    <li>
                        <label class="<%=device.tv ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-tv"></i>
                            <span>电视</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.water_heater ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-heater"></i>
                            <span>热水器</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.refrigerator ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-refriger"></i>
                            <span>冰箱</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.air_condition ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-aircon"></i>
                            <span>空调</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.hearth ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-microwave"></i>
                            <span>微波炉</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.washer ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-washer"></i>
                            <span>洗衣机</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.fan ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-fan"></i>
                            <span>电风扇</span>
                        </label>
                    </li>
                    <li>
                        <label class="<%=device.pc ?'on':''%>">
                            <i class="icon icon-radio unvisi"></i>
                            <i class="icon icon-img icon-computer"></i>
                            <span>电脑</span>
                        </label>
                    </li>
                </ul>
            </dd>
        </dl>
        <dl class="form-dl">
            <dt>上传照片</dt>
            <dd class="pic-input">
                <div class="pic-block">
                    <!--<label class="pic-label icon">-->
                        <!--<img src="./pic/upimg1.png"/>-->
                    <!--</label>-->
                </div>
                <p>有图有真相，能更快将房子租出去哦</p>
            </dd>
        </dl>
        <dl class="form-dl">
            <dt>标签选择</dt>
            <dd>
                <ul class="label-list">
                    <li>
                        <label class="<%=device.good_traffic ?'on':''%>">交通方便</label>
                    </li>
                    <li>
                        <label class="<%=device.garden ?'on':''%>">带花园</label>
                    </li>
                    <li>
                        <label class="<%=device.subway ?'on':''%>">地铁</label>
                    </li>
                    <li>
                        <label class="<%=device.lift ?'on':''%>">电梯</label>
                    </li>
                    <li>
                        <label class="<%=device.villa ?'on':''%>">别墅</label>
                    </li>
                    <li>
                        <label class="<%=device.standalone ?'on':''%>">复式</label>
                    </li>
                </ul>
            </dd>
        </dl>
    </form>

    <div style="padding-top: 40px"></div>

    <div class="cd-popup" id="ask-del" role="alert">
        <div class="cd-popup-container">
            <p>您要删除这个房源吗?</p>
            <ul class="cd-buttons">
                <li id="yes-del">
                    <a href="#0">删除</a>
                </li>
                <li class="cd-no">
                    <a href="#0">取消</a>
                </li>
            </ul>
        </div>
    </div>

</div>

<ul class="tab1">
    <li>
        <i class="icon icon-home"></i>
        <span>首页</span>
    </li>
    <li>
        <i class="icon icon-note"></i>
        <span>约看日程</span>
    </li>
    <li>
        <i class="icon icon-person"></i>
        <span>我的</span>
    </li>
</ul>