<ul class="tab1">
    <li class="on">
        <i class="icon icon-home"></i>
        <span>首页</span>
    </li>
    <li>
        <i class="icon icon-note"></i>
        <span>约看日程</span>
    </li>
    <li>
        <i class="icon icon-person"></i>
        <span>我的</span>
    </li>
</ul>

<div class="nav">
    <h1>租来租去房东版</h1>
</div>
<div class="container">
    <div class="slide-block"></div>
    <div class="indexButton">
        <a class="iconPad">
            <i class="icon iconPad"></i>
            <span>我的房源</span>
        </a>
        <a class="iconHouse">
            <i class="icon iconHouse"></i>
            <span>上传房源</span>
        </a>
        <a class="iconBrush">
            <i class="icon iconBrush"></i>
            <span >装修案例</span>
        </a>
        <a class="iconNews">
            <i class="icon iconNews"></i>
            <span >新闻动态</span>
        </a>

    </div>
</div>
<div style="padding-top: 55px"></div>
